<html>
    <body>
        <section class="main_content">
            <article class="main_text contact">
                <h2>University Information</h2>
                <p>Brandeis University</p>
                <p>Address: 415 South Street, Waltham MA</p>
                <p>Phone: (781)-736-2000</p>
                <p>Email: brandeisalumniassociation@brandeis.edu</p>
            </article>
        </section>
    </body>
</html>