<html>
    <head>
        <title>Brandeis Alumni Association</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/style.css">
        <link rel="icon" type="image/x-icon" href="/favicon-16x16.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="author" content="James Kong">
        <meta name="keywords" content="Brandeis, Alumni, Association">
        <meta name="description" content="Brandeis Alumni and friends official website."/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <nav>
            <a class="nav_items" href="/index.html">Home</a>
            <a class="nav_items" href="/about.html">About</a>
            <a class="nav_items" href="/jobs.html">Jobs</a>
            <a class="nav_items" href="/events.html">Events</a>
            <a class="nav_items" href="/contact.html">Contact</a>
        </nav>
        <header>
            <image src="/BrandeisLogo.png" id="brandeis_logo" alt="Brandeis Logo"/>
            <div id="header_text">
                <p>Students & Alumni Association</p>
            </div>
        </header>
        <section class="main_content">
            <article class="main_text">
                <p>
                    At Brandeis University, our alumni community is at the heart of our institution's legacy and success. We are dedicated to celebrating the remarkable individuals who have walked our hallowed halls and gone on to make a profound impact on the world.
                </p>
                <image src="/brandeis-alumni-2.jpg" alt="Three Alumnus"/>
                <h2>Our Alumni Network:</h2>
                <p>
                    Our alumni network is a vibrant and diverse community of graduates who have taken the values and knowledge imparted at Brandeis into their respective fields, becoming leaders, innovators, and change-makers in a wide range of industries. From Nobel laureates and renowned scholars to entrepreneurs and activists, Brandeis alumni continue to shape the world in meaningful ways.
                </p>
                <h2>Our Mission</h2>
                <p>Learn about the core values and mission that drive our alumni community, including our dedication to social justice, academic excellence, and global impact.</p>

                <h2>Notable Alumni</h2>
                <p>Explore stories and profiles of some of Brandeis' most accomplished alumni, highlighting their achievements and contributions to society.</p>

                <h2>Alumni Success Stories</h2>
                <p>Read inspiring success stories of graduates who have made a difference in their communities and fields of expertise.</p>

                <h2>Alumni Events</h2>
                <p>Stay connected by discovering upcoming alumni events, reunions, and opportunities to engage with fellow graduates.</p>

                <h2>Alumni Services</h2>
                <p>Find out about the resources and support available to Brandeis alumni, from career development to lifelong learning opportunities.</p>

                <h2>Get Involved</h2>
                <p>Learn how you can get involved with the Brandeis alumni community, whether through volunteering, mentoring, or supporting the university's future endeavors.</p>

                <h2>Stay Connected</h2>
                <p>Connect with us on social media, join our alumni newsletter, and stay up-to-date with the latest news and happenings within the Brandeis alumni network.</p>
            </article>
        </section>
        <footer>
            <p>© 2024 Brandeis University | All Rights Reserved</p>
            <a href="https://www.facebook.com/BrandeisUAlumni" class="fa fa-facebook social_button"></a>
            <a href="https://www.instagram.com/brandeisualumni/" class="fa fa-instagram social_button"></a>
            <a href="https://www.linkedin.com/school/brandeis-university/mycompany/verification/" class="fa fa-linkedin social_button"></a>
            <a href="https://www.youtube.com/c/BrandeisUniversityAlumniAssociation" class="fa fa-youtube social_button"></a>
            <a href="https://twitter.com/brandeisualumni" class="fa fa-twitter social_button"></a>
        </footer>
    </body>
</html>