<html>
    <head>
        <title>Brandeis Alumni Association</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/style.css">
        <link rel="icon" type="image/x-icon" href="/favicon-16x16.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="author" content="James Kong">
        <meta name="keywords" content="Brandeis, Alumni, Association">
        <meta name="description" content="Brandeis Alumni and friends official website."/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <nav>
            <a class="nav_items" href="/index.html">Home</a>
            <a class="nav_items" href="/about.html">About</a>
            <a class="nav_items" href="/jobs.html">Jobs</a>
            <a class="nav_items" href="/events.html">Events</a>
            <a class="nav_items" href="/contact.html">Contact</a>
        </nav>
        <header>
            <image src="/BrandeisLogo.png" id="brandeis_logo" alt="Brandeis Logo"/>
            <div id="header_text">
                <p>Students & Alumni Association</p>
            </div>
        </header>
        <section class="main_content">
            <article class="main_text">
                <h2 id="job_op">Job Opportunities</h2>

                <ul>
                    <li>
                        <h3>Brandeis Alumni Coordinator</h3>
                        <p>Description: Work with fellow alumni members to organize and plan events and gatherings!</p>
                        <p>Location: Waltham, Massachusetts</p>
                        <p>Posted on: October 5th, 2023</p>
                        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Apply Now</a>
                    </li>
                    
                    <li>
                        <h3>Brandeis Recruiter</h3>
                        <p>Description: Help Brandeis recruit more fellow Brandeisians to enjoy the same experience that you did!</p>
                        <p>Location: Waltham, Massachusetts</p>
                        <p>Posted on: September 28th, 2023</p>
                        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Apply Now</a>
                    </li>

                    <li>
                        <h3>Brandeis International Ambassador At Copenhagen</h3>
                        <p>Description: Our Brandeis at Copenhagen program needs on-duty staff to participate in the facilitation of the program in Denmark.</p>
                        <p>Location: Copenhagen, Denmark</p>
                        <p>Posted on: September 5th, 2023</p>
                        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Apply Now</a>
                    </li>

                </ul>
                
            </article>
        </section>
        <footer>
            <p>© 2024 Brandeis University | All Rights Reserved</p>
            <a href="https://www.facebook.com/BrandeisUAlumni" class="fa fa-facebook social_button"></a>
            <a href="https://www.instagram.com/brandeisualumni/" class="fa fa-instagram social_button"></a>
            <a href="https://www.linkedin.com/school/brandeis-university/mycompany/verification/" class="fa fa-linkedin social_button"></a>
            <a href="https://www.youtube.com/c/BrandeisUniversityAlumniAssociation" class="fa fa-youtube social_button"></a>
            <a href="https://twitter.com/brandeisualumni" class="fa fa-twitter social_button"></a>
        </footer>
    </body>
</html>