<link rel="stylesheet" href="/css/style.css" />
<table>
  <tr>
    <td>
      <h1>Welcome to The Kitchen!</h1>
      <p>
        At The Kitechen we are happy to offer a wide range of cooking classes to
        bring a food diversity on your table
      </p>
    </td>
    <td>
      <img src="/images/food.jpg" alt="a tasty dish!" />
    </td>
  </tr>
</table>
