<html>
    <body>
        <article id="about">
            <h1>Mission Statement</h1>
            <p id="about_text">
                The Brandeis Department of Athletics, Physical Education, and Recreation enriches the current and future lives of our community through sport, fitness and wellness offerings. We achieve our mission by:
                
                Providing opportunities for students to seek competitive excellence utilizing the values of discipline, leadership, resilience and respect
                Encouraging students to explore interests and habits leading to the development of an appreciation of lifelong health and fitness
                Complementing the educational mission of the University by emphasizing the development of a well-balanced lifestyle
                Developing an inclusive community in which all can learn, play and compete
            </p>
            <div id="youtube_frame">
                <iframe id="youtube_vid" src="https://www.youtube.com/embed/QT-I97byp6Y?si=teT6hX9gYJO9pMoE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <h1>Athletics Overview</h1>
            <p id="about_text">
                Brandeis fields 19 Division III varsity athletic programs. The Judges compete in the University Athletic Association (UAA), comprising Carnegie Mellon University, Case Western Reserve University, Emory University, New York University, the University of Chicago, the University of Rochester and Washington University (St. Louis). UAA teams are among the most successful athletic programs in the nation, giving Brandeis athletes a chance to prove themselves against the best Division III has to offer.
            </p>
            <p id="about_text">
                Through participation in varsity athletics at Brandeis, student-athletes should develop skills to work effectively as part of a team, improve individual skills and overall performance, learn to communicate effectively with diverse populations, develop leadership skills, and demonstrate and understand sportsmanship and fairness.
            </p>
            <p id="about_text">
                Over the years, Brandeis has won NCAA team championships in men's soccer (1976) and men's cross country (1983), as well as 27 individual titles. Since 2011, Brandeis has produced 67 All-Americans. In 2021-22, Erin Magill '22, earned three All-America honors in cross country and track and field, while Tony Escueta '25 and Maggie Shealy '23 were named the national Division III Sabre Fencers of the Year in 2022. Brandeis teams have claimed 19 NCAA Tournament berths and had seven different programs earn national rankings, including five during the 2021-22 season. Three teams have made NCAA Final Four appearances in that span and one other reach the Elite Eight. Three Brandeis coaches have been named National Coach of the Year and six have earned UAA Coaching Staff of the Year honors.
            </p>
            <p id="about_text">
                Among Brandeis's top student-athlete alumni are Nelson Figueroa '98, the program's first major league baseball player, who played for nine years in Major League Baseball and pitched for runner-up Puerto Rico in the 2013 World Baseball Classic, and three-time Olympic fencer Tim Morehouse '00, the University's first Olympic qualifier in Athens in 2004 and first medalist, winning a team silver in the saber in Beijing in 2008. The Judges' have also boasted legendary coaches from Bud Collins of the tennis team to former Boston Celtics K.C. Jones, Bob Brannum and Chris Ford with the basketball team. 
            </p>
            <div id="gosman_image_frame">
                <image src="images/brandeis_gosman_flags.jpeg" id="gosman_image" alt="Gosman Image"/>
            </div>
            <br/>
            <h1>Quick Facts</h1>
            <ul id="facts">
                <li>Location: Gosman Center, Waltham, Mass. 02454-9110</li>

                <li>Founded: 1948</li>

                <li>Enrollment: 3360</li>

                <li>Nickname: Judges</li>

                <li>Colors: Blue and White</li>

                <li>Affiliation: NCAA Division III</li>

                <li>Conference: University Athletic Association</li>

                <li>President: Ron Liebowitz</li>

                <li>Director of Athletics: Lauren Haynie</li>

                <li>Senior Associate Director of Athletics: Tom Rand</li>

                <li>Associate Director of Athletics/SWA: Lynne Dempsey</li>

                <li>Associate Director of Athletics: Michelle Kim</li>

                <li>Assistant Director of Athletics: Andrew Vatistas</li>

                <li>Assistant Director of Athletics: Michael Matt</li>

                <li>Sports Information Director: Adam Levin ’94</li>

                <li>Head Athletic Trainer: Lisa DeNicola</li>
            </ul>
        </article>
    </body>
</html>