<html>
    <body id="center_content">
        <h1 class="facilities_border">Here are some of the great facilities Brandeis has to offer!</h1>
        <section id="flex_align">
            <h2>Cordish Tennis Center</h2>
            <h5>
                The Cordish Tennis Center is a premier tennis facility located at Brandeis University. Designed to meet the needs of tennis enthusiasts, athletes, and students, it offers a combination of modern amenities and top-notch features.
            </h5>
            <div id="flex_align_a">
                <image src="/images/tennis.jpg" id="gosman_image"></image>
                <image src="/images/tennis2.jpg" id="gosman_image"></image>
            </div>
            <h2>Soccer and Baseball Fields</h2>
            <h5>
                Both the soccer and baseball fields at Brandeis University are an integral part of the athletic experience on campus. They offer students, athletes, and fans a place to enjoy and engage in their respective sports, fostering a sense of community and school spirit. The university's commitment to maintaining these facilities ensures that players and spectators have a first-class experience when visiting the fields.
            </h5>
            <div id = "flex_align_a"> 
                <image src="/images/baseball.jpg" id="gosman_image"></image>
                <image src="/images/soccer.jpg" id="gosman_image"></image>
            </div>
            <h2>Linsey Pool</h2>
            <h5>
                Linsey Pool is a prominent aquatic facility located on the campus of Brandeis University. The pool has been designed to meet the needs of a diverse range of swimmers, from competitive athletes to recreational swimmers and those learning to swim. 
            </h5>
            <div id = "flex_align_a">
                <image src="/images/pool1.jpg" id="gosman_image"></image>
                <image src="/images/pool2.jpg" id="gosman_image"></image>
            </div>
            <h2>Other Fitness Facilities</h2>
            <h5>
                Brandeis gym features a modern fitness center equipped with a wide variety of cardiovascular machines, strength training equipment, and free weights. It provides a comprehensive fitness experience for users at all fitness levels.
            </h5>
            <div id="flex-align_a">
                <image id = "reduce_size" src="/images/fitness1.jpg" id="gosman_image"></image>
                <image id = "reduce_size" src="/images/fitness2.jpg" id="gosman_image"></image>
            </div id=flex_align_a>
            <image src="/images/fitness4.jpg" id="gosman_image"></image>
            <image src="/images/fitness3.jpg" id="gosman_image"></image>
            <div id="flex-align_a">
                <image id = "reduce_size" src="/images/fitness5.jpg" id="gosman_image"></image>
                <image id = "reduce_size" src="/images/fitness6.jpg" id="gosman_image"></image>
            </div>
        </section>
    </body>
</html>