<html>
    <head><meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <article id="home">
            <h1>Brandeis Sports Complex</h1><br>

            <h1>Introduction</h1>
            <p id="home_text">
            The Brandeis Sports Complex is a state-of-the-art athletic facility that stands as a beacon of excellence and innovation in the world of sports and fitness. Located on the picturesque campus of Brandeis University, this complex serves as a hub for athletes, students, and fitness enthusiasts alike. With its modern design, top-notch amenities, and a commitment to promoting health and wellness, the Brandeis Sports Complex has become a focal point for both competitive and recreational sports, fostering a vibrant community of individuals dedicated to achieving their fitness and athletic goals.
            </p>

            <p id="home_text">
                Brandeis is a member of the <a href="https://www.ncaa.org/"> National Collegiate Athletic Association </a> (Division III) and competes in 19 intercollegiate sports through the <a href="https://uaasports.info/">University Athletic Association</a>.
            </p>

            <div class="home_container">
                <div class="home_item home_item-1">
                    <h3 id="home_box"> Men's Sports </h3>
                    <ul> 
                        <li id="home_form"> BASEBALL <a class="sports_icon" href="https://brandeis.prestosports.com/sports/bsb/index"><i class="fa fa-search"></i></a></li>
                        <li id="home_form"> BASKETBALL <a class="sports_icon" href="https://brandeis.prestosports.com/sports/mbkb/index"> <i class="fa fa-search"></i></a></li>
                        <li id="home_form"> CROSS COUNTRY <a class="sports_icon" href="https://brandeis.prestosports.com/sports/mxc/index"> <i class="fa fa-search"></i></a></li>
                        <li id="home_form"> FENCING <a class="sports_icon" href="https://brandeis.prestosports.com/sports/mfencing/index"> <i class="fa fa-search"></i></a></li> 
                        <li id="home_form"> SOCCER <a class="sports_icon" href="https://brandeis.prestosports.com/sports/msoc/index"> <i class="fa fa-search"></i></a></li>
                        <li id="home_form"> SWIMMING AND DIVING <a class="sports_icon" href="https://brandeis.prestosports.com/sports/mswimdive/index"> <i class="fa fa-search"></i></a></li>
                        <li id="home_form"> TENNIS <a class="sports_icon" href="https://brandeis.prestosports.com/sports/mten/index"> <i class="fa fa-search"></i></a></li>
                        <li id="home_form"> TRACK AND FIELD <a class="sports_icon" href="https://brandeis.prestosports.com/sports/mtrack/index"> <i class="fa fa-search"></i></a></li>
                    </ul>
                </div>
            
                <div class="home_item item-2">
                    <h3 id="home_box"> Women's Sports</h3>
                    <ul> 
                        <li id="home_form"> BASKETBALL <a class="sports_icon" href="https://brandeis.prestosports.com/sports/wbkb/index"><i class="fa fa-search"></i></a></li>
                        <li id="home_form"> CROSS COUNTRY <a class="sports_icon" href="https://brandeis.prestosports.com/sports/wxc/index"><i class="fa fa-search"></i></a></li>
                        <li id="home_form"> FENCING <a class="sports_icon" href="https://brandeis.prestosports.com/sports/wfencing/index"><i class="fa fa-search"></i></a></li>
                        <li id="home_form"> SOFTBALL <a class="sports_icon" href="https://brandeis.prestosports.com/sports/sball/index"><i class="fa fa-search"></i></a></li>
                        <li id="home_form"> SOCCER <a class="sports_icon" href="https://brandeis.prestosports.com/sports/wsoc/index"><i class="fa fa-search"></i></a></li>
                        <li id="home_form"> SWIMMING AND DIVING <a class="sports_icon" href="https://brandeis.prestosports.com/sports/wswimdive/index"><i class="fa fa-search"></i></a></li>
                        <li id="home_form"> TENNIS <a class="sports_icon" href="https://brandeis.prestosports.com/sports/wten/index"><i class="fa fa-search"></i></a></li>
                        <li id="home_form"> TRACK AND FIELD <a class="sports_icon" href="https://brandeis.prestosports.com/sports/wtrack/index"><i class="fa fa-search"></i></a></li>
                        <li id="home_form"> VOLLEYBALL <a class="sports_icon" href="https://brandeis.prestosports.com/sports/wvball/index"><i class="fa fa-search"></i></a></li>
                    </ul>
                </div>
            </div>

            <br><br>
            <h1>Locations</h1>
            <p id="home_text">
                Brandeis University is located just nine miles from Boston and is within easy driving distance of the region's major cities. 
                Basketball, fencing, indoor track and field and volleyball are played in the <strong>Gosman Athletic Center </strong>
                while swimming and diving is held in the connected <strong>Linsey Pool</strong>. Baseball is played on <strong>Stein Diamond</strong>. Soccer is played on <strong>Gordon Field</strong>. 
                Softball is played on <strong>Marcus Field</strong>. All of these fields are visible from the parking lot in front of the Gosman Center. 
                Tennis is played on the <strong>Rieger Tennis Courts</strong>, located behind the Gosman Center.
            </p>

            <div id="gosman_image_frame">
                <image src="images/home_map.jpg" id="gosman_image" alt="Gosman Image"/>
            </div>


            <br><br>
            <a class="facilities_link" href="facilities"><h1>Facilities</h1><a>

            <p id="home_text">
                Get Brandeis Athletics Facilities Tour! <a href="https://brandeis.prestosports.com/facilities/tour-new">Click here to view the tour </a>
            </p>
            <!-- create a slide show -->
            <div class="slideshow-container">

                <div class="mySlides fade">
                  <div class="numbertext">1 / 3</div>
                  <img src="images/pool.jpg" style="width:100%">
                  <div class="sports_text">Swimming Pool - Home to Brandeis Swimming and Diving</div>
                </div>
                
                <div class="mySlides fade">
                  <div class="numbertext">2 / 3</div>
                  <img src="images/tennis_home.jpg" style="width:100%">
                  <div class="sports_text">Tennis Court - Renovated in 2019, the Cordish Tennis Center features a new scoreboard and six newly-resurfaced courts.
                  </div>
                </div>
                
                <div class="mySlides fade">
                  <div class="numbertext">3 / 3</div>
                  <img src="images/basketball.jpg" style="width:100%">
                  <div class="sports_text">Basketball Court - Home to Brandeis Basketball, Fencing, Indoor Track, and Volleyball</div>
                </div>
                </div>
                <br>
                
                <div style="text-align:center">
                  <span class="dot"></span> 
                  <span class="dot"></span> 
                  <span class="dot"></span> 
                </div>

            <!-- Added the script -->
            <script src="js/script.js"></script>

            <p id="home_text">
                Learn more about facilities <a href="facilities"> here</a>.
            </p>
            <br>

            <a class = "facilities_link" href ="programs"><h1>Programs</h1></a><br>
            <h2>Explore our programs in 2023!</h2><br>

            <h3>Fencing</h3>
        
            <div id="gosman_image_frame">
                <image src="images/about-athletics-fencing.jpg" id="gosman_image" alt="Fencing Image"/>
            </div>

            <div id="gosman_image_frame">
                <image src="images/fencing_1.jpg" id="gosman_image" alt="Fencing Image"/>
            </div>

            <p id="home_text">
                Fencing places three on CSC Academic All-District at-large teams.

                WALTHAM, Mass. – Three members of the Brandeis University fencing team have been named to the College Sports Communicators (CSC, formerly CoSIDA) Academic All-District At Large teams. Recent graduate Maggie Shealy of Chapel Hill, North Carolina, was honored for the women, while sophomores Tony Escueta of Grand Prairie, Texas, and Tal Kronrod of Concord, Massachusetts, were recognized for the men. All three will be eligible for CSC Academic All-America honors, which will be announced in June.
            </p>
            <br>
            <h3>Swimming</h3>
            <div id="gosman_image_frame">
                <image src="images/swimming_1.jpg" id="gosman_image" alt="Swimming Image"/>
            </div>

            <div id="gosman_image_frame">
                <image src="images/swimming_2.jpg" id="gosman_image" alt="Swimming Image"/>
            </div>

            <p id="home_text">
                Women place first, men third, at season-opening Hartwick Relays.

                The Brandeis University women's swimming and diving team opened the 2023-24 season in style, winning the 2023 Hartwick Relays, while the men finished third among the six teams competing. The women won eight of the 10 races, while the men took two of 10. The Judges also won the meet's lone mixed relay.
            </p>
            <br>

            <h3>Basketball</h3>
            <div id="gosman_image_frame">
                <image src="images/basketball_1.jpg" id="gosman_image" alt="Basketball Image"/>
            </div>

            <p id="home_text">
                Men's basketball introduces incoming Class of 2027!
            </p>
            
            <p id="home_text">
                Learn more about programs <a href="programs"> here</a>.
            </p>
        </article>
    </body>
</html>