<html>
    <body>
        <article id="membership">
            <h1>Memberships and Guest Policies</h1>
            <p id="membership_text">
                All current Brandeis students, faculty, and staff, may use the athletic facilities free of charge.  A valid Brandeis ID card must be presented to enter and upon request.
            </p>

            <h2>Membership Policy</h2>
            <p id="membership_text">
                Facility memberships can be purchased by eligible individuals by submitting a membership application.  Once information is verified and membership application approved, instructions will be sent for picking up membership cards.  Please contact Tom Rand (rand@brandeis.edu) or Michael Matt (mmatt@brandeis.edu) with any questions.
            </p>
            
            <h2>Type of memberships</h2>
            <ul> 
                <li id="mbsp_form"> Alumni </li>
                <li id="mbsp_form"> Immediate Family of current student, faculty or staff (must be 18 years or older) </li>
                <li id="mbsp_form"> Waltham Senior Citizen (must be 65 years or older and a Waltham resident) </li>
                <li id="mbsp_form"> Current <a href="https://www.brandeis.edu/bolli/">BOLLI</a> student </li>
            </ul>
            
            <h2>Pricing</h2>
            <ul> 
                <li id="mbsp_form"> $500 /full year </li>
                <li id="mbsp_form"> $300 /semester </li>
                <li id="mbsp_form"> $250 /summer </li>
                <li id="mbsp_form"> $100 /intersession</li>
            </ul>

            <p id="membership_text">
                All payments are due in full at the start of the membership period.  No refunds.

                Credit card, cash and check payments accepted.
            </p>

            <br>
            <h2>Membership Options</h2>

            <div class="mbsp_container">
                <div class="mbsp_item item-1">
                    <h3 id="mbsp_box"> Alumni 1 year</h3>
                    <p id="membership_text">
                        Good for 1 calendar year from date of purchase, must be Brandeis alum.
                    </p>
                    <br>
                    <p id="mbsp_text_2">
                        Eligibility: Adult <br>
                        Fee: $500.00
                    </p>
                    <br>
                    <div class="button-container">
                        <button class="btn"><i class="fa fa-home"></i> <a href="https://brandeis.dserec.com/online/memberships" class="nav-link">Sign Up</a></button>
                    </div>
                </div>
            
                <div class="mbsp_item item-2">
                    <h3 id="mbsp_box"> BOLLI 1 year</h3>
                    <p id="membership_text">
                        Good for 1 calendar year from date of purchase, must be enrolled in BOLLI program.
                    </p>
                    <br>
                    <p id="mbsp_text_2">
                        Eligibility: Adult <br>
                        Fee: $500.00
                    </p>
                    <div class="button-container">
                        <button class="btn"><i class="fa fa-home"></i> <a href="https://brandeis.dserec.com/online/memberships" class="nav-link">Sign Up</a></button>
                    </div>
                </div>
            </div>

            <div class="mbsp_container">
                <div class="mbsp_item item-1">
                    <h3 id="mbsp_box"> Family Member 1 year</h3>
                    <p id="membership_text">
                        Immediate family member of current student, faculty, or staff (must be 18 years or older), good for spring semester. 
                    </p>
                    <br>
                    <p id="mbsp_text_2">
                        Eligibility: Adult <br>
                        Fee: $500.00
                    </p>
                    <br>
                    <div class="button-container">
                        <button class="btn"><i class="fa fa-home"></i> <a href="https://brandeis.dserec.com/online/memberships" class="nav-link">Sign Up</a></button>
                    </div>
                </div>
            
                <div class="mbsp_item item-2">
                    <h3 id="mbsp_box"> Waltham Seniors 1 year</h3>
                    <p id="membership_text">
                        Must be Waltham resident and at least 65 years old. good for 1 calendar year from date of purchase. 
                    </p>
                    <br>
                    <p id="mbsp_text_2">
                        Eligibility: Adult (65+) <br>
                        Fee: $500.00
                    </p>
                    <br><br>
                    <div class="button-container">
                        <button class="btn"><i class="fa fa-home"></i> <a href="https://brandeis.dserec.com/online/memberships" class="nav-link">Sign Up</a></button>
                    </div>
                </div>
            </div>


            <div class="mbsp_container">
                <div class="mbsp_item item-1">
                    <h3 id="mbsp_box"> Alumni - Fall 23 Semester</h3>
                    <p id="membership_text">
                        Good for Fall semester, must be Brandeis alum. 
                    </p>
                    <br>
                    <p id="mbsp_text_2">
                        Eligibility: Adult <br>
                        Fee: $300.00
                    </p>
                    <br>
                    <div class="button-container">
                        <button class="btn"><i class="fa fa-home"></i> <a href="https://brandeis.dserec.com/online/memberships" class="nav-link">Sign Up</a></button>
                    </div>
                </div>
            
                <div class="mbsp_item item-2">
                    <h3 id="mbsp_box"> BOLLI - Fall 23 Semester</h3>
                    <p id="membership_text">
                        Good for Fall semester, must be enrolled in BOLLI program. 
                    </p>
                    <br>
                    <p id="mbsp_text_2">
                        Eligibility: Adult <br>
                        Fee: $300.00
                    </p>
                    <br>
                    <div class="button-container">
                        <button class="btn"><i class="fa fa-home"></i> <a href="https://brandeis.dserec.com/online/memberships" class="nav-link">Sign Up</a></button>
                    </div>
                </div>
            </div>

            <div class="mbsp_container">
                <div class="mbsp_item item-1">
                    <h3 id="mbsp_box"> Family Member - Fall 23 Semester</h3>
                    <p id="membership_text">
                        Immediate family member of current student, faculty, or staff, good for fall semester. 
                    </p>
                    <br>
                    <p id="mbsp_text_2">
                        Eligibility: Adult <br>
                        Fee: $300.00
                    </p>
                    <br>
                    <div class="button-container">
                        <button class="btn"><i class="fa fa-home"></i> <a href="https://brandeis.dserec.com/online/memberships" class="nav-link">Sign Up</a></button>
                    </div>
                </div>
            
                <div class="mbsp_item item-2">
                    <h3 id="mbsp_box"> Waltham Seniors - Fall 23 Semester</h3>
                    <p id="membership_text">
                        Must be Waltham resident and at least 65 years old, good for fall semester. 
                    </p>
                    <br><br>
                    <p id="mbsp_text_2">
                        Eligibility: Adult (65+) <br>
                        Fee: $300.00
                    </p>
                    <br>
                    <div class="button-container">
                        <button class="btn"><i class="fa fa-home"></i> <a href="https://brandeis.dserec.com/online/memberships" class="nav-link">Sign Up</a></button>
                    </div>
                </div>
            </div>

            <br>
            <h2>Guest Policy</h2>
            <p id="membership_text">
                Current Brandeis students, faculty, staff, and members may bring guests into the facility. 
            </p>
            <ul> 
                <li id="mbsp_form"> All guests must be accompanied by their Brandeis sponsor at all times. </li>
                <li id="mbsp_form"> All guests must sign a waiver of liability and assumption of risk form at the front desk. </li>
                <li id="mbsp_form"> All guests must pay a fee of <p id = "text_bold">$10/guest per day</p>. </li>
            </ul>

            <p id="membership_text">
                No appointment is necessary. Cash, checks and credit cards accepted.
            </p>
            
            <br>
            <h2>Child Policy</h2>
            <p id="membership_text">
                Current Brandeis students, faculty, staff, and members may bring their children into the facility. 
            </p>
            <ul> 
                <li id="mbsp_form"> Children 12 years and younger - no charge </li>
                <li id="mbsp_form"> Children 13 years and older must follow the Guest Policy (see above). </li>
                <li id="mbsp_form"> Children must be supervised by their parent/guardian at all times in the facility. </li>
                <li id="mbsp_form"> Children 12 years and younger are NOT allowed in the weight room.</li>
            </ul>

        </article>
    </body>
</html>
