<html>
    <body>
        <article id="program">
            <h1>EXPLORING PROGRAMS WE HAVE!</h1>
            
            <div class="programs">
                <h2>Adult Learn to Swim 2023</h2>
                <div>
                    <image src="images/groupswim.png" class="img" alt="Adult learn to swim 2023"/>
                </div>
                <div class="intro">
                    <p>Interested in feeling safe in the water and learning basic swimming skills to enjoy spending time in the water with family and friends? Join us for a FREE three-session swim class designed to help improve your skills! Participants should plan to attend all three class sessions.</p>
                </div>
                <div class="schedule">
                    <h4>Class Schedule</h4>
                    <p>5:00-7:00p.m. on September 13, 20, 27</p>
                </div>
                <div class="price">
                    <h4>Pricing</h4>
                    <p>Free</p>
                </div>
            </div>
            <div class="programs">
                <h2>Private Swim Lesson</h2>
                <div>
                    <image src="images/1on1swim.jpg" class="img" alt="private swim class"/>
                </div>
                <div class="intro">
                    <p>Unable to attend the Learn to Swim program? Aquatics staff offer one-on-one, private adult swim lessons to the Brandeis community (current students, faculty, staff, and membership holders).</p>
                </div>
                <div class="schedule">
                    <h4>Class Schedule</h4>
                    <p>Potential clients should contact the Aquatics Director to find an instructor that is a good fit for his/her needs and schedule.  Once an instructor has been assigned, the client will work directly with the instructor to set up individual lessons.</p>
                </div>
                <div class="price">
                    <h4>Pricing</h4>
                    <p>$65/hour</p>
                </div>
            </div>
            
            <div class="programs">
                <h2>Brandeis Group Exercise</h2>
                <div>
                    <image src="images/groupEx.jpeg" class="img" alt="Group Exercise"/>
                </div>
                <div class="intro">
                    <p>Brandeis Sports Complex provides multiple group exercise sessions on multiple topics for students, staff, and locals. Check out our schedule and join us! Let's move together!</p>
                </div>
                <div class="schedule">
                    <h4>Class Schedule</h4>
                    <p>Classes will be available for registration at 8am the day before. Please contact Kat Page (kpage@brandeis.edu, 781-736-3657) to register. Walk-ins allowed only if space permits.</p>
                    <p></p>
                    <table id="programTable">
                        <tr>
                            <th>Class</th>
                            <th>Weekly Schedule</th>
                            <th>Location</th>
                        </tr>
                        <tr>
                            <td>Yoga Stretch</td>
                            <td>M 5-5:45pm</td>
                            <td>Dance Studio</td>
                        </tr>
                        <tr>
                            <td>Zumba with Maya</td>
                            <td>M/T 6-6:45pm</td>
                            <td>Dance Studio</td>
                        </tr>
                        <tr>
                            <td>Total Body Bootcamp</td>
                            <td>M 7:30-8:30pm</td>
                            <td>Dance Studio</td>
                        </tr>
                        <tr>
                            <td>HIIT</td>
                            <td>T 5-5:45pm</td>
                            <td>Dance Studio</td>
                        </tr>
                        <tr>
                            <td>Cycle with Josh</td>
                            <td>T/F 7:15-8:15pm</td>
                            <td>Dance Studio</td>
                        </tr>
                        <tr>
                            <td>Faculty/Staff Weights</td>
                            <td>W 12-12:45pm</td>
                            <td>Skyline Common</td>
                        </tr>
                        <tr>
                            <td>Cycle and Core</td>
                            <td>W 5-5:45pm</td>
                            <td>Dance Studio</td>
                        </tr>
                        <tr>
                            <td>Krav Maga</td>
                            <td>W 6-7pm</td>
                            <td>Dance Studio</td>
                        </tr>
                        <tr>
                            <td>Pilates</td>
                            <td>F 6-7pm</td>
                            <td>Dance Studio</td>
                        </tr>
                    </table>
                </div>
                <div class="price">
                    <h4>Pricing</h4>
                    <p>Free</p>
                </div>
            </div>
            <div class="programs">
                <h2>Nutrition Coaching</h2>
                <div>
                    <image src="images/nutrition.jpeg" class="img" alt="eat healthy"/>
                </div>
                <div class="intro">
                    <p>Nutrition Coaching provides Brandeis students, faculty, and staff with a convenient and affordable opportunity to meet their health goals. Our nutrition coach is nationally certified through NASM and is prepared to assist you in any of the following nutrition domains:</p>
                    <ul>
                        <li>Weight Loss (losing fat)</li>
                        <li>Weight gain (gaining healthy fat and muscle)</li>
                        <li>Body Recomposition (losing fat and gaining/preserving muscle)</li>
                        <li>Performance enhancement (improving diet to maximize athletic performance)</li>
                    </ul>

                </div>
                <div class="schedule">
                    <h4>Class Schedule</h4>
                    <p>After scheduled the session, please contact your coach to find out a time works for both of you.</p>

                </div>
                <h4>Pricing</h4>
                    
                <ul>
                    <li>
                        <h5>Single Session</h5>
                        <p>Individuals with short-term needs may purchase a 30-minute or 60-minute session. This single session is best for individuals who are simply looking for a review of their diet, who want general advice or coaching tips, or ho have nutrition questions that they want to be answered without needing a long-term coaching plan.</p>
                        <div>
                
                            <table id="programTable">
                                <tr id="table_header">
                                    <th>Session Length</th>
                                    <th>Price</th>
                                </tr>
                                <tr>
                                    <td>30 min</td>
                                    <td>$25</td>
                                </tr>
                                <tr>
                                    <td>60 min</td>
                                    <td>$45</td>
                                </tr>
                            </table>
                            
                        </div>
                    </li>
                    <li>
                        <h5>Long Term Program</h5>
                        <p>Nutrition coaching programs are offered by length and meeting frequency. Clients can choose among 4, 8, or 12-week programs; for each of these programs, they can meet with their coach either once per week, or twice per week to check in.  These "check-in" meetings are 30 minutes in length.  During these sessions, clients will have the opportunity to review their goals created during the last check-in, discuss what they've been struggling with between check-in meetings, and create new goals for the next check-in.</p>
                        <div>
                            
                            <table>
                                <tr id="table_header">
                                    <th>Program Length</th>
                                    <th>1x PER WEEK</th>
                                    <th>2x PER WEEK</th>
                                </tr>
                                <tr>
                                    <td>4 WEEKS</td>
                                    <td>$80</td>
                                    <td>$130</td>
                                </tr>
                                <tr>
                                    <td>8 WEEKS</td>
                                    <td>$130</td>
                                    <td>$235</td>
                                </tr>
                                <tr>
                                    <td>12 WEEKS</td>
                                    <td>$185</td>
                                    <td>$340</td>
                                </tr>
                            </table>                   
                        </div>
                    </li>
                </ul>
            </div>
        </article>
    </body>
</html>