<html>
    <link rel="stylesheet" href="/css/style.css" />
    <body>
        <article id="contact">
            <h1>Thank you so much for contacting us!</h1> 
            <h2>Our team will review your message and response to you ASAP!</h2>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </article>
    </body>
</html>