<html>
  <div class="show">
    <form action="/users/login" method="POST" class="data-form">
      <h2>Login</h2>
      <label for="inputEmail">Email Address</label>
      <input type="email" name="email" id="inputEmail" placeholder="Email address" required>
      <label for="inputPassword">Password</label>
      <input type="password" name="password" id="inputPassword" placeholder="Password" required>
      <p>Not a user? <a href="/users/signup">Sign up here</a></p>
      <button type="submit">Login</button>
    </form>
  </div>
</html>
