<div class="data-form">
  <form action="/courses/create" method="POST">
    <h2>Create a new course:</h2>
    <label for="inputTitle">Title</label>
    <input
      type="text"
      name="title"
      id="inputTitle"
      placeholder="Title"
      autofocus
    />
    <label for="inputDescription">Description</label>
    <input
      type="text"
      name="description"
      id="inputDescription"
      placeholder="Description"
    />
    <label for="inputItems">Items (comma-separated):</label>
    <input
      type="text"
      name="items"
      id="inputItems"
      placeholder="Item 1, Item 2, Item 3"
    />
    <label for="inputZipCode">Zip Code</label>
    <input
      type="text"
      name="zipCode"
      id="inputZipCode"
      placeholder="Zip Code"
      required
    />
    <button type="submit">Create Course</button>
  </form>
</div>
