<html>
    <head>
        <title>Navigation Bar</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <header id="nav">
            <nav style="justify-content: center; align-items: center;">
                <a href="/index">Home</a>
                <a href="/about">About</a>
                <a href="/contact">Contact</a>
            </nav>
        </header>
        <%- body %>
        <div id="footer"> FOOTER</div>
    </body>
</html>
