<html>
    <head>
        <title>Navigation Bar</title>
    </head>
    <body>
        <header id="nav" style="display: flex; padding: 2%; align-items: center;">
            <nav style="justify-content: center; align-items: center;">
                <a href="/index">Home</a>
                <a href="/about">About</a>
                <a href="/contact">Contact</a>
            </nav>
        </header>
        <%- body %>
        <div id="footer"> FOOTER</div>
    </body>
</html>
