<html>
  <head>
    <title>The Kitchen</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
  </head>
  <body>
    <header>
      <div class="header">
        <h1>The Kitchen</h1>
      </div>
      <ul class="nav">
        <li><a href="/">Home</a></li>
        <li><a href="courses">Courses</a></li>
        <li><a href="contact">Contact</a></li>
      </ul>
    </header>
    <%- body%>
    <footer>
      <p>The Kitchen - Copyright©2023</p>
    </footer>
  </body>
</html>
