<html>
    <body>
        <section id="beginning">
            <article id="proud">
                <div class="sub-header">
                    <p>We Are Proud Students & Alumni of Brandeis University</p>
                </div>
                <p id="alum_desc">
                    The Brandeis Students and Alumni Association is a vibrant community that offers lifelong opportunities
                    for students and alumni to stay connected to Brandeis and each other.
                </p>
            </article>
        </section>
        <section>
            <article class="alumni_post">
                <image src="/images/alumni-1.png" class="alumni_pics" alt="3 Alumnis standing"/>
                <p class="alumni_pic_desc">
                    Graduates of Brandeis International Business School 
                    are some of the most diverse and dynamic members of Brandeis University’s 60,000-person alumni network. 
                    As a graduate, you have access to a vibrant alumni group of innovators, mentors and global business leaders. 
                    We invite you to leverage your lifelong alumni benefits and reconnect with the International Business School today.
                </p>
            </article>
        </section>
    </body>
</html>