<!DOCTYPE html>
<html>
  <head>
    <title>Personal website</title>
    <link rel="stylesheet" href="style.css" type="text/css" />
  </head>
  <body>
    <header>
      <div class="header-name">
        <h1>My personal website</h1>
      </div>
    </header>
    <nav>
      <a href="index.html">Home</a>
      <a href="contact.html">Contact</a>
      <a href="resume.html">Resume</a>
      <a href="jobs.html">Jobs</a>
    </nav>
    <section><h3>Welcome to my personal webiste</h3></section>
    <footer>
      <p>copyright@2023</p>
    </footer>
  </body>
</html>
