<table>
    <caption>My Experience</caption>
    <tr>
        <th>
            Company
        </th>
        <th>
            Position
        </th>
        <th>
            Length
        </th>
    </tr>
    <tr>
        <td>Zebra Technologies</td>
        <td>Software Engineer Intern</td>
        <td>May 2023 to August 2023</td>
    </tr>
    <tr>
        <td>Brandeis University</td>
        <td>IT Service Help Desk Technician II</td>
        <td>November 2022 to Present</td>
    </tr>
    <tr>
        <td>Juni Learning</td>
        <td>CS Instructor II</td>
        <td>May 2021 to August 2022</td>
    </tr>
</table>