<image src="./assets/James_Kong.jpg" alt="James with a dog" style="width:40%"></image>
        <p>I am an undergraduate at Brandeis University pursuing a B.S degree in Computer Science. 
            I have always had a mindset of perseverance, and I welcome all forms of collaboration with others. 
            I have experience with Java, Python, HTML, React Native, MongoDB, Heroku, Javascript, and Node.js 
            from school courses and independent projects made for fun. 
            During my spare time, I enjoy playing videogames and exploring new places.
        </p>
<br/>
<p>You can reach me at:</p>
        <ul>
            <li>
                <a href="https://www.linkedin.com/in/jamesdemingkong/">LinkedIn</a>
            </li>
            <li>
                <a href="mailto:jameskong098@gmail.com">jameskong098@gmail.com</a>
            </li>
        </ul>