<html>
    <body>
        <section class="main_content">
            <article class="main_text">
                <h2 id="job_op">Job Opportunities</h2>
                <ul>
                    <li>
                        <h3>Brandeis Alumni Coordinator</h3>
                        <p>Description: Work with fellow alumni members to organize and plan events and gatherings!</p>
                        <p>Location: Waltham, Massachusetts</p>
                        <p>Posted on: October 5th, 2023</p>
                        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Apply Now</a>
                    </li>
                    
                    <li>
                        <h3>Brandeis Recruiter</h3>
                        <p>Description: Help Brandeis recruit more fellow Brandeisians to enjoy the same experience that you did!</p>
                        <p>Location: Waltham, Massachusetts</p>
                        <p>Posted on: September 28th, 2023</p>
                        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Apply Now</a>
                    </li>

                    <li>
                        <h3>Brandeis International Ambassador At Copenhagen</h3>
                        <p>Description: Our Brandeis at Copenhagen program needs on-duty staff to participate in the facilitation of the program in Denmark.</p>
                        <p>Location: Copenhagen, Denmark</p>
                        <p>Posted on: September 5th, 2023</p>
                        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Apply Now</a>
                    </li>
                </ul>
            </article>
        </section>
    </body>
</html>