body {
    background-color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
}

header {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

nav {
    overflow: hidden;
    background-color: #003478;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.nav_items {
    color: white;
    border: solid 1px;
    width: 90px;
    height: 10px;
}


nav a {
    text-decoration: solid;
    font-weight: bold;
    font-size:larger;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin-right: 5%;
    margin-left: 5%;
}


nav a:hover {
    text-decoration: underline;
    background-color: white;
    color: black;
}


footer {
    background-color: #003478;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 1%;
    text-align: center;
    font-size: 110%;
}

.social_button {
    color: white;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 1%;
    text-decoration: none;
}

.social_button:hover {
    color: rgba(255,255,255,0.7)
}

.sub-header {
    font-size: 400%;
    font-weight: bold;
}

.alumni_pics {
    width: 50%;
    margin-right: 5%;
    min-width: 400px;
}

.alumni_pics:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0);
    
}

.alumni_post {
    padding: 5%;
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
}

.alumni_pic_desc {
    display: flex;
    align-items: center;
    font-size: larger;
    padding: 3%;
    background-color: rgba(177, 210, 232, 0.2);
}

#alum_desc {
    font-size: 200%;
}

#brandeis_logo {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
    margin-right: 1%;
}

#header_text {
    color: #003478;
    font-size: 300%;
}

#proud {
    margin-left: 15%;
    margin-right: 15%;
    padding: 2%;
    width: 1000px;
    height: 40%;
    color: white;
}

#beginning {
    background-image: url("./brandeis-alumni.png");
    background-repeat: no-repeat;
    background-position: center center;
    height: 50%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
}

@media screen and (max-width: 1199px) {
    #header_text {
        font-size: 0%;
    }
    
    #beginning {
        background-size: 190%; 
    }

    .alumni_post {
        flex-direction: column;
        align-items: center;
    }

    .sub-header {
        font-size: 200%;
        font-weight: bold;
    }
}

@media screen and (min-width: 1200px) {
    #beginning {
        background-size: 100%; 
    }
}